.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 150px;
    background-color: rgb(204, 239, 204);
}

.about-image {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Adds space between the image and text */
}

.about-content {
    max-width: 60%;
}

.about-container h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
